<div class="row flex-lg-row-reverse align-items-center g-5 py-3 px-5 shadow">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="img/author.png" class="d-block mx-lg-auto rounded float-end p-4" alt="Bootstrap Themes"  height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
        I am a full stack web developer.     
      </h1>
      <p class="col-lg-10 fs-4">
        "Empowering digital experiences with seamless, full-stack solutions using Node.js, Express, React, and PostgreSQL. Let's build the future, one line of code at a time."
      </p>
        
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Read more</button>
      </div>
    </div>
  </div>