<hr>
<div class="row mb-2 m-5  ">
    <h2 class="pb-5  text-center fw-bold fs-1">Projects</h2>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Project-1</strong>
          <h3 class="mb-0">Hospital management System</h3>
          <div class="mb-1 text-body-secondary">Mar 12</div>
          <p class="card-text mb-auto">Fully fledge hospital system included GUI and database.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Explore
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"/>
            </svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="img/hospital.jpg" width="200" height="250" alt="hospital">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Project-2</strong>
          <h3 class="mb-0">MERN E-commerce store</h3>
          <div class="mb-1 text-body-secondary">Mar 11</div>
          <p class="mb-auto">clothing store use node js express js, react js and postgres </p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          Explore
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"/>
            </svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="img/ecommerce.jpg" alt="store" width="200" height="250">
        </div>
      </div>
    </div>
  </div>